*
{
    margin:0;
    padding:5px;
}

body{
    background-color: hsl(30, 54%, 90%);
}

.container
{
    background-color: hsl(0, 0%, 100%);
    width: 50rem;
    max-width: calc(100% - 2);
    height: 100%;
    margin:  50px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    padding: 20px;
    position:static;
}

.description img
{
    width: 100%;
    border-radius: 15px;
}

.description h1
{
    font-family: "Young Serif";
    font-weight: 400;
    padding: 10px 10px 10px 0px;
    color:hsl(24, 5%, 18%);
}

.description p
{
    color:hsl(24, 5%, 18%);
    font-size: 16px;
    margin-bottom: 10px;
}

.preparation-time
{
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
}
.preparation-time h3
{
    /*Add  Font style*/
    color: hsl(332, 51%, 32%);
    margin: 10px 10px 0px 10px;
}


.preparation-time ul
{
    margin-left: 10px;
}
.preparation-time li
{
    margin-bottom: 5px;
    position: relative;
    font-size: 16px;
    padding-left: 7px;
    left: 15px;
}

.preparation-time li::marker
{
    color: hsl(332, 51%, 32%);
}

section:nth-of-type(2),
section:nth-of-type(3)
{
    border-bottom: 0.1px solid hsl(24, 5%, 18%);
}

.ingredients
{
    padding: 0;
    margin: 0;
}
h2
{
    font-family: "Young Serif";
    font-weight: 400;
    color:hsl(14, 45%, 36%);
    margin: 5px auto;
}

.ingredients ul,
.instructions ol
{
    margin-left: 15px;
}

.ingredients li
{
    padding-left: 15px;
}

.ingredients li::marker
{
    padding-left: 10px;
    color:hsl(14, 45%, 36%);
}


.instructions li::marker
{
    padding-left: 10px;
    color:hsl(14, 45%, 36%);
    font-size: 16px;
    font-weight: bold;
}


.instructions li
{
    padding-left: 10px auto;

}


.nutrition p
{
    color:hsl(24, 5%, 18%);
    font-size: 16px;
    margin-bottom: 5px;
}


td{
    width: 500px;
    text-indent: 2.3rem;
    border-bottom: 1px solid lightgray;
    padding: 0.8rem 0 1rem 0;
}

td:nth-child(2)
{
    color:hsl(14, 45%, 36%);
    font-weight: bold;
}